@use './../../styles/functions' as f;

#hero {
  padding: f.rem-calc(56) f.rem-calc(120) 0;

  .hero-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: f.rem-calc(56);

    .h1 {
      max-width: f.rem-calc(683);
    }

    .hero-line {
      position: absolute;
      width: 683px;
      height: 0px;
      top: f.rem-calc(50);
      right: f.rem-calc(0);
      border: f.rem-calc(2) solid var(--grayscale-black);
    }

    .hero-info {
      height: f.rem-calc(525);
      width: f.rem-calc(252);
      position: absolute;
      top: f.rem-calc(150);
      right: f.rem-calc(125);
      background: var(--primary-blue-100);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: f.rem-calc(57);

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--grayscale-white);

        .number {
          font-weight: 400;
          font-size: f.rem-calc(52);
          line-height: 1.6;
        }

        .text {
          font-weight: 400;
          font-size: f.rem-calc(16);
          line-height: 1.6;
        }
      }
    }

    .copyright span {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }

  .hero-bg {
    background-image: url(./../../assets/images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: f.rem-calc(550);
  }
}
